<!DOCTYPE html>
<html>
<head>
  <title>Clevernote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
  <p>Logged in as: <%= current_user.email %>
    <form action="/api/session" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout">
    </form> </p>
  <% end %>

  <% flash.now[:errors] && flash.now[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>

<%= yield %>

</body>
</html>
